@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-sans {
    font-family: "Work Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* shared style */
.primary-btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px 30px;
    background-color: #52C303;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}

#hero {
    color: white;
    height: 900px;
    background-image: linear-gradient(0deg, rgb(9, 9, 9) 3.482%, rgba(16, 16, 16, 0) 101.632%), url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 1023px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero .hero-content .subtitle {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    opacity: 0.8;
}

#hero .hero-content .title {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

#hero .hero-content .hero-text {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
}

/* style for brand section */
#card-box{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
.card-subtitle {
    color: rgb(16, 16, 16);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-top: 200px;
}

.card-title {
    color: rgb(16, 16, 16);
    width: 690px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}