@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.font-sans{
    font-family: "Work Sans", sans-serif;
}
body{
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.banner{
    text-align: center;
    padding-top: 240px;
}